.label-amarillo {
  color: #d4aa00; /* Amarillo oscuro para mejor contraste */
  font-weight: bold;
}

.label-rojo {
  color: red;
  font-weight: bold;
}

.label-verde {
  color: green;
  font-weight: bold;
}

  