<div class="container">
  <div class="card">
    <div class="card-header">
    <div class="d-flex align-items-center justify-content-between">
        <h3 class="mb-0">
            <i class="fa fa-users"></i>
            &nbsp;Formula Médica
        </h3>
    </div>
    <div class="card-body">
      <div class="table table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Id</th>
              <th>Id Cita</th>
              <th>Id Paciente</th>
              <th>Paciente</th>
              <th>Id Medico</th>
              <th>Medico</th>
              <th>Medico Especializacion</th>
              <th>Medicamento Nombre</th>
              <th>Medicamento Descripcion</th>
              <th>Dosis</th>
              <th>Indicaciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let receta of receta">
              <td>{{ receta.id }}</td>
              <td>{{ receta.cita?.id }}</td>
              <td>{{ receta.cita?.paciente?.id }}</td>
              <td>{{ receta.cita?.paciente?.nombres + ' ' + receta.cita?.paciente?.apellidos }}</td>
              <td>{{ receta.cita?.medico?.id }}</td>
              <td>{{ receta.cita?.medico?.nombres + ' ' + receta.cita?.medico?.apellidos }}</td>
              <td>{{ receta.cita?.medico?.especializacion?.nombre }}</td>
              <td>{{ receta.medicamento?.nombre }}</td>
              <td>{{ receta.medicamento?.descripcion }}</td>
              <td>{{ receta.dosis }}</td>
              <td>{{ receta.indicaciones }}</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>